<!doctype html>
<html lang="ru">

<head>
  {{> head}}
  {{> head_admin_logged_in}}
  <link href="/css/admin/admin-header.css" rel="stylesheet" />
  <link href="/css/admin/admin.css" rel="stylesheet" />
  <meta name="robots" content="noindex">
</head>

<body class="background_white">
  {{> main_admin}}
</body>

</html>