<!doctype html>
<html lang="ru">

<head>
  {{> head}}
  {{> head_admin_logged_in}}
  <link href="/css/admin/admin-header.css" rel="stylesheet" />
  <link href="/css/admin/admin-shop.css" rel="stylesheet" />
  <meta name="robots" content="noindex">
  <title>Панель администратора | Мастерская Бакулиной Татьяны в Санкт-Петербурге</title>
</head>

<body class="background_white">
  {{> main_admin_shop}}
</body>

</html>