<!doctype html>
<html lang="ru">

<head>
  {{> head}}
  <link href="/css/admin/admin-login.css" rel="stylesheet" />
  <meta name="robots" content="noindex">
</head>

<body class="background_white">
  {{> main_admin_login}}
</body>

</html>