<main class="background_1">
  <section class="background_white margin-horizontal_small margin-vertical_small">
    <div class="shop">
      <div class="shop__title">
        <h1 class="shop__title__text">МАГАЗИН МАСТЕРСКОЙ</h1>
      </div>
      <!--<div class="shop__filters">
        <div class="shop__filters__title">
          <p class="shop__filters__title__text">Фильтры</p>
        </div>
        <div class="shop__filters__container">

        </div>
      </div>-->
      <div class="shop__gallery">
        {{#each shopItemEntities}}
        {{> shop_gallery_item id=id name=name price=price}}
        {{/each}}
      </div>
      <button onclick="scrollToTop()" class="shop__scroll-to-top-button">⮙</button>
    </div>
    </div>
  </section>
</main>
<script src="/javascript/common/scroll-to-top.js"></script>