<section class="background_white margin-vertical_0">
  <p class="admin__header">
    <a class="admin__header__go-to-admin" href="/administrator">Вернуться к редактированию сайта</a> |
    <a class="admin__header__name" href="/administrator/settings">{{adminName}}</a> |
    <a class="admin__header__signout" onclick="signOut()">Выйти</a>
  </p>
</section>