<section> 
  <div class="footer-section-line"></div>
  <a class="footer-section-item" href="/privacy">Политика конфиденциальности</a>
  <div class="footer-section-line"></div>
</section>
<section>
  <p class="footer-section-item">© Мастерская Бакулиной Татьяны, 2022-2023</p>
</section>