<section> 
  <div class="footer-section-line"></div>
  <a class="footer-section-item" href="/privacy">Политика конфиденциальности</a>
  <div class="footer-section-line"></div>
</section>
<section>
  <p class="footer-section-item">© Мастерская Бакулиной Татьяны, 2022-2023</p>
</section>
<section>
  <p id="client-load-time" class="footer-section-item">Client load time: </p>
  <p id="server-load-time" class="footer-section-item">Server load time: {{server_load_time}} ms</p>
</section>
<script src="/javascript/get-client-load-time.js"></script>