<section>
  <p class="footer-section-item client-load-time">Client load time: </p>
  <p class="footer-section-item server-load-time">Server load time: {{serverLoadTime}} ms</p>
</section>
<script src="/javascript/common/get-client-load-time.js"></script>