<section>
  <address class="footer-section-item">
    Тел. +7 (911) 228-83-92</br>
  </address>
  <address class="footer-section-item">
    master.bakulina.tatiana@gmail.com</br>
  </address>
  <address class="footer-section-item">
    Россия, г. Санкт-Петербург</br>Харьковская улица, д. 6/1, пом. 30
  </address>
</section>