<div id ="relative-header-space-filler" class="header-size"></div>

<div id="desktop-header" class="header-size">
  <a id="desktop-header__title" href="/">Бакулина Татьяна</a>
  <nav id="desktop-header__menu">
    <a class="desktop-header__menu__item" href="/">МАГАЗИН</a>
    <!--<a class="desktop-header__menu__item" href="/portfolio">ПОРТФОЛИО</h3>-->
    <a class="desktop-header__menu__item" href="/contacts">КОНТАКТЫ</a>
  </nav>
</div>

<div id="mobile-header" class="header-size">
  <a id="mobile-header__title" href="/">Бакулина Татьяна</a>
  <button id="mobile-header__menu-button" onclick="toggleMobileMenu()">☰ Меню</button>
</div>

<div id="mobile-menu-background" class="display-none">
  <nav id="mobile-menu">
    <a class="mobile-menu__item" href="/">МАГАЗИН</a>
    <!--<a class="mobile-menu__item" href="/portfolio">ПОРТФОЛИО</h3>-->
    <a class="mobile-menu__item" href="/contacts">КОНТАКТЫ</a>
  </nav>
</div>