<div class="relative-header-space-filler header-size"></div>

<div class="desktop-header header-size">
  <a class="desktop-header__title" href="/">Бакулина Татьяна</a>
  <nav class="desktop-header__menu">
    <a class="desktop-header__menu__item" href="/">МАГАЗИН</a>
    <!--<a class="desktop-header__menu__item" href="/portfolio">ПОРТФОЛИО</h3>-->
    <a class="desktop-header__menu__item" href="/contacts">КОНТАКТЫ</a>
  </nav>
</div>

<div class="mobile-header header-size">
  <a class="mobile-header__title" href="/">Бакулина Татьяна</a>
  <button class="mobile-header__menu-button" onclick="toggleMobileMenu()">☰ Меню</button>
</div>

<div class="mobile-menu-background display-none">
  <nav class="mobile-menu">
    <a class="mobile-menu__item" href="/">МАГАЗИН</a>
    <!--<a class="mobile-menu__item" href="/portfolio">ПОРТФОЛИО</h3>-->
    <a class="mobile-menu__item" href="/contacts">КОНТАКТЫ</a>
  </nav>
</div>