<main class="screen-height flex-column-vertical-center">
  <section class="background_white margin-horizontal_extra-large">
    <form>
      <h1 class="form__title">АВТОРИЗАЦИЯ</h1>
      <h2 class="form__label">Логин</h2>
      <input type="text" class="form__input_text"></br>
      <h2 class="form__label-label">Пароль</h2>
      <input type="text" class="form__input_text"></br>
      <input type="submit" value="Войти" class="form__login-button"/>
    </form>
  </section>
</main>