<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="author" content="Ivan Somkin">
  <link href="/assets/pictures/logo/favicon.png" rel="icon" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/toastr.css" rel="stylesheet" />
  <meta name="robots" content="noindex">
  <meta name="admin_uuid" content="{{admin_uuid}}">
  <script src="/javascript/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="/javascript/toastr.min.js">
    toastr.options.timeOut = 300
  </script>
</head>

<body class="background_white">
  {{{ body }}}
</body>

</html>