<!doctype html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="author" content="Ivan Somkin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/pictures/logo/favicon.png" rel="icon"/>
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/javascript/jquery-3.6.0.js"></script>
  </head>

  <body>
    {{> header}}
    {{{ body }}}
    <footer>
      {{#if (isTrueOrUndefined footer_add_contacts)}}
      {{> footer_contacts}}
      {{/if}}
      {{> footer_privacy}}
      {{> footer_load_time}}
    </footer>
    {{> mobile_menu_toggle}}
  </body>

</html>