<main class="height-100 flex-column-vertical-center background_1">
  <section class="background_white margin-horizontal_extra-large margin-vertical_0">
    <form class="login-form">
      <h1 class="login-form__title">АВТОРИЗАЦИЯ</h1>
      <h2 class="login-form__label">Логин</h2>
      <input class="login-form__input_text" id="email" type="text"></br>
      <p class="login-form__error" id="email-error"></p>
      <h2 class="login-form__label">Пароль</h2>
      <input class="login-form__input_text" id="password" type="password"></br>
      <p class="login-form__error" id="password-error"></p>
      <p class="login-form__success" id="success"></p>
      <input type="submit" value="Войти" class="login-form__submit-button" />
    </form>
  </section>
</main>
<script src="/javascript/admin/admin-login.js"></script>