<main>
  <section>
    <p class="admin__header">
      <a class="admin__header__name" href="/administrator/settings">{{adminName}}</a> |
      <a class="admin__header__signout" onclick="signOut()">Выйти</a>
    </p>
  </section>
  <section>
    <h1 class="admin__title">Редактор магазина</h1>
  </section>
  <section>
    <h2 class="admin__subtitle">Товары</h2>
    <div class="admin__shop shop-sortable">
      {{#each data.shopItems}}
      {{> admin_shop_gallery_item id=id name=name price=price}}
      {{/each}}
    </div>
  </section>
</main>
<script>
  function signOutAjax() {
    return new Promise(function (resolve, reject) {
      $.ajax({
        url: "/auth/signout",
        type: "POST",
        contentType: "application/json",
        success: function (response) {
          location.href = "/administrator/login"
        }
      })
    })
  }

  async function signOut() {
    await signOutAjax()
  }
</script>