<!doctype html>
<html lang="ru">
  <head>
    <title>Администратор | Мастерская Бакулиной Татьяны в Санкт-Петербурге</title>
    <meta name="description" content="Страница редактирования товара.">
    <meta name="robots" content="noindex">
    {{> head}}
    <script src="/javascript/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  </head>
  <body class="background_white">
    {{> main_admin_shop_item}}
  </body>
</html>