<!doctype html>
<html lang="ru">
  <head>
    <title>Администратор | Мастерская Бакулиной Татьяны в Санкт-Петербурге</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <meta name="description" content="Страница администрирования сайтом.">
    <meta name="robots" content="noindex">
    <meta name="author" content="Ivan Somkin">
    {{> head}}
  </head>
  <body class="background_1">
    {{#if authorized}}
    {{> main_admin}}
    {{else}}
    {{> main_admin_login_form}}
    {{/if}}
  </body>
</html>