<main class="background_6">
  <section class="background_white margin-horizontal_large margin-vertical_small">
    <div class="contacts">
      <h1 class="contacts__title">Связаться со мной</h1>
      <address class="contacts__item">Тел. +7 (911) 228-83-92 (с 10 до 22 часов ежедневно)</address>
      <div class="contacts__line"></div>
      <address class="contacts__item">master.bakulina.tatiana@gmail.com</address>
      <div class="contacts__line"></div>
      <address class="contacts__item">г. Санкт-Петербург, ул. Харьковская, д. 6/1, пом. 30</address>
    </div>
  </div>
</main>