<!doctype html>
<html lang="ru">
  <head>
    <title>Портфолио | Мастерская Бакулиной Татьяны в Санкт-Петербурге</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <meta name="description" content="Представляю вам примеры моих работ. От мира природы до модерна и абстракции - всё входит в мои творческие и жизненные интересы.">
    <meta name="author" content="Ivan Somkin">
    {{> head}}
  </head>
  <body>
    {{> header}}
    {{> main_portfolio}}
    <footer>
      {{> footer_contacts}}
      {{> footer_privacy}}
    </footer>
    {{> scripts}}
  </body>
</html>