<!doctype html>
<html lang="ru">
  <head>
    <title>Магазин | Мастерская Бакулиной Татьяны в Санкт-Петербурге</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <meta name="description" content="Авторские картины, скульптуры и батики мастерской Бакулиной Татьяны в её любимом городе — Петербурге.">
    <meta name="author" content="Ivan Somkin">
    {{> head}}
  </head>
  <body class="background_1">
    {{> header}}
    {{> main_shop}}
    <footer>
      {{> footer_contacts}}
      {{> footer_privacy}}
    </footer>
    {{> scripts}}
  </body>
</html>