<!doctype html>
<html lang="ru">

<head>
  {{> head}}
  {{> head_customer}}
  <link href="/css/customer/contacts.css" rel="stylesheet" />
</head>

<body>
  {{> header}}
  {{> main_contacts }}
  <footer>
    {{> footer_section_privacy}}
    {{> footer_section_load_time}}
  </footer>
  {{> mobile_menu_toggle}}
</body>

</html>