<!doctype html>
<html lang="ru">

<head>
  {{> head}}
  {{> head_customer}}
  <link href="/css/customer/privacy.css" rel="stylesheet" />
  <title>Конфиденциальность | Мастерская Бакулиной Татьяны в Санкт-Петербурге</title>
  <meta name="description" content="Страница политики конфиденциальности.">
</head>

<body>
  {{> header}}
  {{> main_privacy}}
  <footer>
    {{> footer_section_contacts}}
    {{> footer_section_privacy}}
    {{> footer_section_load_time}}
  </footer>
  {{> mobile_menu_toggle}}
</body>

</html>