<!doctype html>
<html lang="ru">

<head>
  {{> head}}
  {{> head_customer}}
  <link href="/css/customer/shop-item.css" rel="stylesheet" />
  <title>{{shopItem.name}} | Мастерская Бакулиной Татьяны в Санкт-Петербурге</title>
  <meta name="description" content="Страница работы '{{shopItem.name}}'">
</head>

<body>
  {{> header}}
  {{> main_shop_item}}
  <footer>
    {{> footer_section_contacts}}
    {{> footer_section_privacy}}
    {{> footer_section_load_time}}
  </footer>
  {{> mobile_menu_toggle}}
</body>

</html>